[submodule "repositories/mosaic-dependencies"]
	path = repositories/mosaic-dependencies
	url = git://github.com/cipriancraciun/mosaic-distribution-dependencies.git
[submodule "repositories/basho-stats"]
	path = repositories/basho-stats
	url = git://github.com/basho/basho_stats.git
[submodule "repositories/bitcask"]
	path = repositories/bitcask
	url = git://github.com/basho/bitcask.git
[submodule "repositories/cluster-info"]
	path = repositories/cluster-info
	url = git://github.com/basho/cluster_info.git
[submodule "repositories/ebloom"]
	path = repositories/ebloom
	url = git://github.com/basho/ebloom.git
[submodule "repositories/eper"]
	path = repositories/eper
	url = git://github.com/dizzyd/eper.git
[submodule "repositories/erlang-js"]
	path = repositories/erlang-js
	url = git://github.com/basho/erlang_js.git
[submodule "repositories/erlang-protobuffs"]
	path = repositories/erlang-protobuffs
	url = git://github.com/basho/erlang_protobuffs.git
[submodule "repositories/erlzmq2"]
	path = repositories/erlzmq2
	url = git://github.com/zeromq/erlzmq2.git
[submodule "repositories/jzmq"]
	path = repositories/jzmq
	url = git://github.com/cipriancraciun/jzmq.git
[submodule "repositories/luke"]
	path = repositories/luke
	url = git://github.com/basho/luke.git
[submodule "repositories/luwak"]
	path = repositories/luwak
	url = git://github.com/cipriancraciun/luwak.git
[submodule "repositories/misultin"]
	path = repositories/misultin
	url = git://github.com/ostinelli/misultin.git
[submodule "repositories/mochiweb"]
	path = repositories/mochiweb
	url = git://github.com/mochi/mochiweb.git
[submodule "repositories/rabbitmq-codegen"]
	path = repositories/rabbitmq-codegen
	url = git://github.com/rabbitmq/rabbitmq-codegen.git
[submodule "repositories/rabbitmq-erlang-client"]
	path = repositories/rabbitmq-erlang-client
	url = git://github.com/rabbitmq/rabbitmq-erlang-client.git
[submodule "repositories/rabbitmq-management"]
	path = repositories/rabbitmq-management
	url = git://github.com/rabbitmq/rabbitmq-management.git
[submodule "repositories/rabbitmq-management-agent"]
	path = repositories/rabbitmq-management-agent
	url = git://github.com/rabbitmq/rabbitmq-management-agent.git
[submodule "repositories/rabbitmq-mochiweb"]
	path = repositories/rabbitmq-mochiweb
	url = git://github.com/rabbitmq/rabbitmq-mochiweb.git
[submodule "repositories/rabbitmq-server"]
	path = repositories/rabbitmq-server
	url = git://github.com/cipriancraciun/rabbitmq-server.git
[submodule "repositories/riak"]
	path = repositories/riak
	url = git://github.com/basho/riak.git
[submodule "repositories/riak-core"]
	path = repositories/riak-core
	url = git://github.com/cipriancraciun/riak_core.git
[submodule "repositories/riak-erlang-client"]
	path = repositories/riak-erlang-client
	url = git://github.com/cipriancraciun/riak-erlang-client.git
[submodule "repositories/riak-err"]
	path = repositories/riak-err
	url = git://github.com/basho/riak_err.git
[submodule "repositories/riak-kv"]
	path = repositories/riak-kv
	url = git://github.com/basho/riak_kv.git
[submodule "repositories/skerl"]
	path = repositories/skerl
	url = git://github.com/basho/skerl.git
[submodule "repositories/volution-build-system"]
	path = repositories/volution-build-system
	url = git://github.com/cipriancraciun/volution-build-system.git
[submodule "repositories/webmachine"]
	path = repositories/webmachine
	url = git://github.com/cipriancraciun/webmachine.git
[submodule "repositories/mosaic-components-httpg"]
	path = repositories/mosaic-components-httpg
	url = git://github.com/cipriancraciun/mosaic-components-httpg.git
[submodule "repositories/mosaic-components-rabbitmq"]
	path = repositories/mosaic-components-rabbitmq
	url = git://github.com/cipriancraciun/mosaic-components-rabbitmq.git
[submodule "repositories/mosaic-components-riak-kv"]
	path = repositories/mosaic-components-riak-kv
	url = git://github.com/cipriancraciun/mosaic-components-riak-kv.git
[submodule "repositories/mosaic-components-couchdb"]
	path = repositories/mosaic-components-couchdb
	url = git://github.com/cipriancraciun/mosaic-components-couchdb.git
[submodule "repositories/mosaic-erlang-tools"]
	path = repositories/mosaic-erlang-tools
	url = git://github.com/cipriancraciun/mosaic-erlang-tools.git
[submodule "repositories/mosaic-applications-realtime-feeds"]
	path = repositories/mosaic-applications-realtime-feeds
	url = git://github.com/cipriancraciun/mosaic-applications-realtime-feeds.git
[submodule "repositories/mosaic-java-platform"]
	path = repositories/mosaic-java-platform
	url = git://github.com/cipriancraciun/mosaic-java-platform.git
[submodule "repositories/mosaic-node"]
	path = repositories/mosaic-node
	url = git://github.com/cipriancraciun/mosaic-node.git
[submodule "repositories/mosaic-node-wui"]
	path = repositories/mosaic-node-wui
	url = git://github.com/cipriancraciun/mosaic-node-wui.git
[submodule "repositories/ninja"]
	path = repositories/ninja
	url = git://github.com/cipriancraciun/ninja.git
[submodule "repositories/zeromq2"]
	path = repositories/zeromq2
	url = git://github.com/cipriancraciun/zeromq2.git
[submodule "repositories/couchdb"]
	path = repositories/couchdb
	url = git://github.com/cipriancraciun/couchdb.git
